@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
}
#root {
    display: grid;
    grid-template-rows: min-content minmax(min-content, max-content) 1fr;
    overflow: hidden;
}
/* .swiper {
    width: 1160px;
    margin-right: 0px;
    margin-left: 40px;
    margin-top: 50px;
} */
/* @media screen and (min-width: 1370px) {
    .swiper {
        width: 1200px;
        margin-right: 0;
        margin-left: 40px;
    }
} */
/* @media screen and (max-width: 1366px) {
    .swiper {
        width: 1160px;
        margin-right: 0;
        margin-left: 40px;
    }
} */

@media screen and (max-width: 1536px) {
    .swiper {
        width: 1438px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1480px) {
    .swiper {
        width: 1360px;
        margin: 40px auto 0;
    }
}
@media screen and (max-width: 1430px) {
    .swiper {
        width: 1300px;
        margin: 40px auto 0;
    }
}
@media screen and (max-width: 1370px) {
    .swiper {
        width: 1240px;
        margin: 30px auto 0;
    }
}
@media screen and (max-width: 1280px) {
    .swiper {
        width: 1145px;
        margin: 40px auto 0;
    }
}
@media screen and (max-width: 1180px) {
    .swiper {
        max-width: 1100px;
        margin-right: 0;
        margin-left: 40px;
    }
}
@media screen and (max-width: 1150px) {
    .swiper {
        max-width: 1050px;
        margin-right: 0;
        margin-left: 40px;
    }
}
@media screen and (max-width: 1100px) {
    .swiper {
        max-width: 1020px;
        margin-right: 0;
        margin-left: 40px;
    }
}
@media screen and (max-width: 1060px) {
    .swiper {
        max-width: 970px;
        margin-right: 0;
        margin-left: 40px;
    }
}
@media screen and (max-width: 1024px) {
    .swiper {
        width: 960px;
        margin-right: 0;
        margin-left: 40px;
    }
}
@media screen and (max-width: 1024px) {
    .swiper {
        width: 900px;
        margin: 40px auto 0;
    }
}
@media screen and (max-width: 912px) {
    .swiper {
        width: 865px;
        margin: 40px auto 0;
    }
}
@media screen and (max-width: 860px) {
    .swiper {
        width: 780px;
        margin: 40px auto 0;
    }
}
@media screen and (max-width: 820px) {
    .swiper {
        width: 760px;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .swiper {
        width: 700px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 730px) {
    .swiper {
        width: 670px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 714px) {
    .swiper {
        width: 670px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 680px) {
    .swiper {
        width: 650px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 640px) {
    .swiper {
        width: 570px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 600px) {
    .swiper {
        width: 530px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 558px) {
    .swiper {
        width: 505px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 501px) {
    .swiper {
        width: 470px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 415px) {
    .swiper {
        width: 395px;
        margin-left: 10px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 400px) {
    .swiper {
        width: 370px;
        margin-left: 10px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 376px) {
    .swiper {
        width: 360px;
        margin-left: 10px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 361px) {
    .swiper {
        width: 340px;
        margin-left: 10px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 280px) {
    .swiper {
        width: 260px;
        margin-left: 10px;
        margin-bottom: 60px;
    }
}
.swiper-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
}
/* .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
/* .swiper-slide {
    transform: scale(0.8) !important;
} */
/* @media screen and (orientation: landscape) and (max-height: 780px)

@media screen and (orientation: landscape) and (max-height: 630px)

@media screen and (orientation: landscape) and (max-height: 540px)

@media screen and (orientation: landscape) and (max-height: 460px)

@media screen and (max-width: 1600px)

@media screen and (max-width: 1440px)

@media screen and (max-width: 1366px)

@media screen and (max-width: 1280px)

@media screen and (max-width: 1024px)

@media screen and (max-width: 768px)

@media screen and (max-width: 414px)

@media screen and (max-width: 375px)

@media screen and (max-width: 320px)

@media screen and (max-width: 680px) and (max-height: 520px) */
